$font_primary: 'Raleway', sans-serif;
$font_heading: 'Staatliches', cursive;

$color_primary: #b8336a;
$color_secondary: #068d9d;
$color_terciary: #ff8015;
$color_black: #000000;
$color_white: #ffffff;
$color_gray: #484349;
$color_gray_light: #f2f2f2;

$media_tel: 480px;
$media_tablet: 768px;
$media_desktop: 1024px;
$media_desktop_xl: 1440px;
